@model Race
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="px-5">Welcome to the "@Model.Title" detail page!</h1>

<section class="space-sm bg-secondary bg-gradient px-5" width="100%">
    <div class="container">
        <div class="row py-3">
            <div class="col-lg-7 mb-4 mb-sm-0">
                <img alt="Image" src="@Model.Image" width="75%" class="border border-dark-subtle border-5 img-fluid" />
            </div>
            <!--end of col-->
            <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                <div>
                    <h1 class="mb-2">About the Race</h1>
                    <h2 class="lead mb-3">A @Model.RaceCategory in @Model.Address.City, @Model.Address.State</h2>
                    <!--<h2 class="lead mb-3">Date: </h2>
                    <h2 class="lead mb-3">Time: </h2>-->
                    <h2 class="lead mb-3">@Model.EntryFee</h2>
                    <article>
                        @Model.Description
                    </article>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
</section>
<br />

<section class="px-5">
</section>