@using RunGroupSocialMedia.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to RunGroups!</h1>
        <p class="lead text-muted">Login to join Running Clubs near you and attend some exciting races! You can also click on the Clubs navigation button to explore all clubs.</p>
        <p>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-success my-2" asp-controller="Account" asp-action="Login">Login</a>
            }
            <a class="btn btn-outline-primary my-2" asp-controller="Club" asp-action="Index">Explore Clubs</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://res.cloudinary.com/dw5mvknbl/image/upload/v1698975509/varpnl1sytllvruvubpc.jpg" alt="Card image cap" width="100%" height="300">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://res.cloudinary.com/dw5mvknbl/image/upload/v1698975558/ajikaneursvy5arcigso.jpg" alt="Card image cap" width="100%" height="300">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://res.cloudinary.com/dw5mvknbl/image/upload/v1698975598/xqtr7vqpby5jdirfhdjj.jpg" alt="Card image cap" width="100%" height="300">
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        @if (Model.Clubs == null || Model.Clubs.Count() < 1)
        {
            <h1 class="fw-light">
                There are no running clubs in your area! <a asp-area="" asp-controller="Account"
                                                            asp-action="Login">Login</a> and create one!
            </h1>
        }
        else
        {
            <div class="row justify-content-between mb-5">
                <div class="col-auto">
                    <h3>Running clubs near @Model.City, @Model.State</h3>
                </div>
                <!--end of col-->
            </div>
            <ul class="row feature-list feature-list-sm">
                @foreach (var item in Model.Clubs)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">@item.Title</p>
                                <p class="card-text col-12 text-truncate">@item.Description </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-controller="club" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                        {
                                            <a asp-controller="club" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                            <a asp-controller="club" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                        }

                                    </div>
                                    <small class="text-muted">@item.ClubCategory</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </ul>
        }
        <!--end of row-->
    </div>
    <!--end of container-->
</section>